# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# PyCharm
.idea/

# macOS
.DS_Store

# Temporary files
temp_plot.png
temp_resample.png
temp_video_convertie.mp4
compressed.mp4
compressed.avi

# Logs
*.log

# Build files
dist/
build/

# Audio / Video test files
bus.avi
discours.wav
lune.avi
papillon.wav